<div>
  {SUB_HEADER}
</div>

<div class="flex-container-row reveal-container">
  <div class="reveal-col reveal-token-col">
    <div class="desc-row">
      {TABLE_DESCRIPTION}
    </div>
    <table>
      <tr>
        <th>Image</th>
        <th>Reason</th>
        <th>Threshold</th>
        <th>Price</th>
        <th>Listings</th>
        <th>Last Sales</th>
        <th>Rank</th>
        <th>Score</th>
        <th>When Listed</th>
      </tr>
      {TABLE_DATA}
    </table>
  </div>
</div>





