doctype html
html
  head
    meta(Description='Grifters by XCOPY Rarity Rankings and Other Stats, XCOPY, Async Art, NFT')
    title= 'Grifters by XCOPY Rarity Rankings and Other Stats'
    | <style type='text/css'>
    include css/barebones.css
    include css/blueprints.css
    | </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  body
    block content
