doctype html
html
block variables
head
  title #{title}
  meta(name='description', content=description)
  | <style type='text/css'>
  include css/barebones.css
  include css/blueprints.css
  include css/chartist.min.css
  | </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
body
  block content
