
a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted
}

a:active {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid
}

a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted
}

a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-width: 0;
  border-top: 1px solid var(--border-color-softer);
}

.sort-icon {
  color: #fa3e96;
}

a.sort-icon, a:visited.sort-icon {
  color: white;
  text-decoration: none;
  border: none;
}

a.sort-icon i {
  color: #fa3e96;
}

a.sort-icon.selected {
  color: white;
  background: #fa3e96;
}

.page-header {
  padding-bottom: 20px;
  padding-bottom: 0px;
}

.floor {
}

.search {
}

#search-form {
  margin-bottom: 0;
}

.edition-image img {
  height: 300px;
}

td, th, table {
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  border-collapse: collapse;
  border: 1px solid #ddd;
  padding: 4px;
}

.content-data th table {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.thumb {
  height: 120px;
}

thead {
  background: black;
  color: white;
}

.rankhtml-td {
  background: #34d79b;
  font-size: 100%;
  text-align: center;
}

.tophtml-td {
  background: #ebe544;
  color: black;
  text-align: center;
}

.tokenidhtml-td {
  background: #34bfd8;
}

.rankhtml-th {
  text-align: center;
}

.tophtml-th {
  text-align: center;
}

#footnotes {
  width: 60%;
}

.floor-image {
  width: 60px;
  height: 60px;
}

ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  line-height: 2.5rem;
  align-items: flex-start;
  justify-content: left;
  max-width: 1600px;
}

ul.cloud a {
  --size: 0;
  --color: #a33;
  font-size: calc(100% + (var(--size) * 2.0));
  display: block;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
  color: var(--color);
}

.cloud a {
  text-decoration: none;
  border: none;
}

.cloud a:active {
  text-decoration: underline;
}

.cloud a:visited {
  text-decoration: none;
}

.cloud a:hover {
  text-decoration: underline;
}

ul.cloud a[data-weight="0"] {
  --size: 0%;
}

ul.cloud a[data-weight="1"] {
  --size: 1%;
}

ul.cloud a[data-weight="2"] {
  --size: 2%;
}

ul.cloud a[data-weight="3"] {
  --size: 3%;
}

ul.cloud a[data-weight="4"] {
  --size: 4%;
}

ul.cloud a[data-weight="5"] {
  --size: 5%;
}

ul.cloud a[data-weight="6"] {
  --size: 6%;
}

ul.cloud a[data-weight="7"] {
  --size: 7%;
}

ul.cloud a[data-weight="8"] {
  --size: 8%;
}

ul.cloud a[data-weight="9"] {
  --size: 9%;
}

ul.cloud a[data-weight="10"] {
  --size: 10%;
}

ul.cloud a[data-weight="11"] {
  --size: 11%;
}

ul.cloud a[data-weight="12"] {
  --size: 12%;
}

ul.cloud a[data-weight="13"] {
  --size: 13%;
}

ul.cloud a[data-weight="14"] {
  --size: 14%;
}

ul.cloud a[data-weight="15"] {
  --size: 15%;
}

ul.cloud a[data-weight="16"] {
  --size: 16%;
}

ul.cloud a[data-weight="17"] {
  --size: 17%;
}

ul.cloud a[data-weight="18"] {
  --size: 18%;
}

ul.cloud a[data-weight="19"] {
  --size: 19%;
}

ul.cloud a[data-weight="20"] {
  --size: 20%;
}

ul.cloud a[data-weight="21"] {
  --size: 21%;
}

ul.cloud a[data-weight="22"] {
  --size: 22%;
}

ul.cloud a[data-weight="23"] {
  --size: 23%;
}

ul.cloud a[data-weight="24"] {
  --size: 24%;
}

ul.cloud a[data-weight="25"] {
  --size: 25%;
}

ul.cloud a[data-weight="26"] {
  --size: 26%;
}

ul.cloud a[data-weight="27"] {
  --size: 27%;
}

ul.cloud a[data-weight="28"] {
  --size: 28%;
}

ul.cloud a[data-weight="29"] {
  --size: 29%;
}

ul.cloud a[data-weight="30"] {
  --size: 30%;
}

ul.cloud a[data-weight="31"] {
  --size: 31%;
}

ul.cloud a[data-weight="32"] {
  --size: 32%;
}

ul.cloud a[data-weight="33"] {
  --size: 33%;
}

ul.cloud a[data-weight="34"] {
  --size: 34%;
}

ul.cloud a[data-weight="35"] {
  --size: 35%;
}

ul.cloud a[data-weight="36"] {
  --size: 36%;
}

ul.cloud a[data-weight="37"] {
  --size: 37%;
}

ul.cloud a[data-weight="38"] {
  --size: 38%;
}

ul.cloud a[data-weight="39"] {
  --size: 39%;
}

ul.cloud a[data-weight="40"] {
  --size: 40%;
}

ul.cloud a[data-weight="41"] {
  --size: 41%;
}

ul.cloud a[data-weight="42"] {
  --size: 42%;
}

ul.cloud a[data-weight="43"] {
  --size: 43%;
}

ul.cloud a[data-weight="44"] {
  --size: 44%;
}

ul.cloud a[data-weight="45"] {
  --size: 45%;
}

ul.cloud a[data-weight="46"] {
  --size: 46%;
}

ul.cloud a[data-weight="47"] {
  --size: 47%;
}

ul.cloud a[data-weight="48"] {
  --size: 48%;
}

ul.cloud a[data-weight="49"] {
  --size: 49%;
}

ul.cloud a[data-weight="50"] {
  --size: 50%;
}

ul.cloud a[data-weight="51"] {
  --size: 51%;
}

ul.cloud a[data-weight="52"] {
  --size: 52%;
}

ul.cloud a[data-weight="53"] {
  --size: 53%;
}

ul.cloud a[data-weight="54"] {
  --size: 54%;
}

ul.cloud a[data-weight="55"] {
  --size: 55%;
}

ul.cloud a[data-weight="56"] {
  --size: 56%;
}

ul.cloud a[data-weight="57"] {
  --size: 57%;
}

ul.cloud a[data-weight="58"] {
  --size: 58%;
}

ul.cloud a[data-weight="59"] {
  --size: 59%;
}

ul.cloud a[data-weight="60"] {
  --size: 60%;
}

ul.cloud a[data-weight="61"] {
  --size: 61%;
}

ul.cloud a[data-weight="62"] {
  --size: 62%;
}

ul.cloud a[data-weight="63"] {
  --size: 63%;
}

ul.cloud a[data-weight="64"] {
  --size: 64%;
}

ul.cloud a[data-weight="65"] {
  --size: 65%;
}

ul.cloud a[data-weight="66"] {
  --size: 66%;
}

ul.cloud a[data-weight="67"] {
  --size: 67%;
}

ul.cloud a[data-weight="68"] {
  --size: 68%;
}

ul.cloud a[data-weight="69"] {
  --size: 69%;
}

ul.cloud a[data-weight="70"] {
  --size: 70%;
}

ul.cloud a[data-weight="71"] {
  --size: 71%;
}

ul.cloud a[data-weight="72"] {
  --size: 72%;
}

ul.cloud a[data-weight="73"] {
  --size: 73%;
}

ul.cloud a[data-weight="74"] {
  --size: 74%;
}

ul.cloud a[data-weight="75"] {
  --size: 75%;
}

ul.cloud a[data-weight="76"] {
  --size: 76%;
}

ul.cloud a[data-weight="77"] {
  --size: 77%;
}

ul.cloud a[data-weight="78"] {
  --size: 78%;
}

ul.cloud a[data-weight="79"] {
  --size: 79%;
}

ul.cloud a[data-weight="80"] {
  --size: 80%;
}

ul.cloud a[data-weight="81"] {
  --size: 81%;
}

ul.cloud a[data-weight="82"] {
  --size: 82%;
}

ul.cloud a[data-weight="83"] {
  --size: 83%;
}

ul.cloud a[data-weight="84"] {
  --size: 84%;
}

ul.cloud a[data-weight="85"] {
  --size: 85%;
}

ul.cloud a[data-weight="86"] {
  --size: 86%;
}

ul.cloud a[data-weight="87"] {
  --size: 87%;
}

ul.cloud a[data-weight="88"] {
  --size: 88%;
}

ul.cloud a[data-weight="89"] {
  --size: 89%;
}

ul.cloud a[data-weight="90"] {
  --size: 90%;
}

ul.cloud a[data-weight="91"] {
  --size: 91%;
}

ul.cloud a[data-weight="92"] {
  --size: 92%;
}

ul.cloud a[data-weight="93"] {
  --size: 93%;
}

ul.cloud a[data-weight="94"] {
  --size: 94%;
}

ul.cloud a[data-weight="95"] {
  --size: 95%;
}

ul.cloud a[data-weight="96"] {
  --size: 96%;
}

ul.cloud a[data-weight="97"] {
  --size: 97%;
}

ul.cloud a[data-weight="98"] {
  --size: 98%;
}

ul.cloud a[data-weight="99"] {
  --size: 99%;
}

ul.cloud a[data-weight="100"] {
  --size: 100%;
}

ul.cloud li:nth-child(2n+1) a {
  --color: #181;
}

ul.cloud li:nth-child(3n+1) a {
  --color: #33a;
}

ul.cloud li:nth-child(4n+1) a {
  --color: #c38;
}
